*{
  margin : 0;
  padding: 0;
  font-family : sans-serif;
}

body{
  margin: 40px auto;
  width : 80%;
}

header{
  border-bottom:2px solid grey;
  margin-bottom:50px;
  padding-bottom: 10px;
}

header a{
  text-decoration: none;
  font-weight: bold;
  color : black;
}

header a:hover{
  color: red;
}

footer{
  border-top:2px solid grey;
  margin-top:50px;
  padding-top: 10px;
}

/*=== bagian blog===*/
#blog{
  background-color: silver;
  margin-bottom:10px;
  padding: 10px;
}

#img-blog{

}

#judul{
  font-size: 40px;
  font-weight:bold;
}

#waktu{
  color:grey;
  font-size:12px;
}

#waktu:hover{
  color:red;
}

#tag{
  color:grey;
  font-size:12px;
}

#tag:hover{
  color:red;
}

/*===Form Login*/

section #form-login{
  margin: 250px auto;
  width : 25%;
  background-color: silver;
  padding: 25px;
  text-align: center;
}

section #form-login p a{
  text-decoration: none;
  color: red;
}

section #form-login p{
  padding-top:5px;
  font-size: 13px;
}
